/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: BMHANNAPro, Arial, sans-serif;
}

@font-face {
    font-family: BMHANNAPro;
    src: url("/font/BMHANNAPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
    color: white;
    text-align: center;
    padding: 10px;

    /* 헤더 높이 줄이기 */
    flex: 0 0 20vh;

    /* 고정 높이 설정 */
}

.my-page-menu {
    padding-top: 10px;

    /* 위쪽 패딩 */
    padding-left: 10px;

    /* 왼쪽 패딩 */
    text-align: center;

    /* 헤더 높이 줄이기 */
    flex: 0 0 20vh;

    /* 고정 높이 설정 */

}

.main-content {
    display: flex;
    flex: 4;
    place-content: center space-between;
}

.sidebar {
    display: flex;
    width: 250px;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    padding-top: 20px;
    position: fixed;
    overflow: auto;
}

/* .left-content { */

/*  !* background-color: #e0e0e0; *! */

/*  flex: 1; */

/*  padding-top: 50px; */

/* } */

/* .main-content { */

/*  flex: 3; */

/*  padding: 20px; */

/* } */
:root {
    --md-elevated-button-container-shape: 0px;
    --md-text-button-label-text-font: bmhannapro;

    /* --md-sys-color-primary: #006A6A; */
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* 버튼 사이의 간격 */
    align-items: center;

    /* 버튼을 중앙 정렬 */
    padding: 20px;
}

.list-title {
    font-size: 22px;
}

.sidebar>md-text-button,
a {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

@media screen and (width <=700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (width <=400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.home-btn {
    cursor: pointer;
    font-size: 20px;

    /* 버튼의 글자 크기를 키웁니다 */
}

.surface {
    --md-elevation-level: 3;

    position: relative;
    border-radius: 16px;
    height: auto;
    width: 100%;
}