:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
}

.purchase-history {
  width: 100%;
}

.purchase-history-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5vh;
}

md-list {
  border-radius: 16px;

  /* --md-list-container-color:  var(--text-color);#f4fbfa; */
}

.row-items {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.bmhannapro {
  font-family: BMHANNAPro;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
  flex: 2 1 70%; /* 더 큰 기본 크기와 성장 비율 */
  
}

.item-2 {
  flex: 1 2 20%; /* 더 작은 기본 크기와 축소 비율 */
}

.item-3 {
  flex: 1 1 10%; /* 중간 크기와 기본 비율 */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.status-items{
  width: 70px;
  height: 10px;
  margin: 5px;
}