.main-body-see-all{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.main-active{
    display: flex;
}

.main-body-active {
    margin: 0 auto;
}

@media (min-width: 300px) {
    .main-body-active {
        min-width: 370px;
    }
    .main-active-item{
        gap: 0.5%;
    }
}
@media (min-width: 800px) {
    .main-body-active{
        min-width: 670px;
    }
    .main-active-item{
        gap: 3%;
    }
}

.main-active-item-div {
    width: 100px;
    height: 100px;
}

.main-active-item-img{
    border-radius: 10px;
}

.main-active-item{
    border-top: 1px solid #c8c8c8;
}

.main-active-item-title{
    margin-bottom: 15px;

}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.main-active-item {
    animation: slideDown 0.5s ease-in-out;
}

/* animate new box */
.new-box {
    animation: append-animate 1.2s linear;
}

