.custom-file-input {
    width: 150px;
    height: 150px;
    background-color: #eee;
    border: 2px solid #999;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.custom-file-input .file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-tag{
    object-fit: fill;
    width: 100%;
    height: 100%;
}


#button-frame md-filled-tonal-button {
    margin-right: 3%;

}

.result-yes-button {
    background-color: #23ba44;
    --md-sys-color-primary: white;
    border-radius: 10px;
    width: 130px;
}

.result-no-button {
    background-color: #f64848;
    --md-sys-color-primary: white;
    border-radius: 10px;
    width: 130px;
}

#result-frame{
    display: flex;
    gap: 50px;
    justify-content: center;
    transition: .5s ease-out;
}

.remove {
    visibility: hidden;
    opacity: 0;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.dialog {
    background: white;
    padding: 20px;
border-radius: 5px;
    text-align: center;
}
.dialog button {
    margin: 10px;
}