.html-container {
    margin: 20px 0 0 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    /*align-items: center; !* 세로 방향 중앙 정렬 *! 표시*/
}

.body-container {
    width: 1100px; /* 페이지에서 80%정도를 차지 */
    transition: transform 0.2s; /* 줌아웃 시 부드러운 애니메이션 */
    display: flex; /* flexbox 사용 */
    justify-content: space-between; /* main-container와 side-container를 양쪽 끝에 배치 */
    position: relative; /* 상대적 위치를 설정 */
}

.main-container {
    width: 70%; /* main-container의 너비 설정 */
    max-width: 800px;
    background-color: #fff;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.2s; /* 줌아웃 시 부드러운 애니메이션 */
}

.batting_modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 여기에 모달 스타일 추가 */
}
